//////////////////////////////////////////////////////////
//  APP STYLES
//////////////////////////////////////////////////////////
@import '0-Quarks/index';
@import '1-Atoms/index';
@import '2-Molecules/index';
@import '3-Organisms/index';
@import '4-Templates/index';
@import '5-Pages/index';

// ~ QUARKS
// -----------------------------
// Base Styles
@include frontlab-reset;
@include frontlab-rhythm;
@include frontlab-layout;
@include frontlab-typography;

// Tools
@include frontlab-transitions;
@include frontlab-animations;

// Root APP
#app {
  position: relative; // /!\ for dev-tools
  min-height: 100vh;
  background-size: 100%;
  background-repeat: no-repeat;
  background-size: 100%;
  background-position: top center;
  background-image: $app-background-image--small;

  @include breakpoint(medium) {
    background-image: $app-background-image--medium;
  }

  @include breakpoint(large) {
    background-image: $app-background-image--large;
  }

  @include breakpoint(xlarge) {
    background-image: $app-background-image--xlarge;
  }
}

// 1- ATOMS
// -----------------------------
// -- BASE COMPONENTS
@include frontlab-icons;
@include frontlab-lists;
@include frontlab-menus;
@include frontlab-tags;
@include frontlab-badges;
@include frontlab-boxes;
@include frontlab-tables;
@include frontlab-thumbnails;
@include frontlab-buttons;
@include frontlab-textfields;
@include frontlab-radiocheckbox;

// 2- MOLECULES
// -----------------------------

// 3- ORGANISMS
// -----------------------------

// 4- TEMPLATES
// -----------------------------

// 5- PAGES
// -----------------------------
